<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        :host,
        :root,
        body {
            margin: 0px;
            /* overflow-y: scroll;/ */
            /* scroll-behavior: smooth; */
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            --gray-base: #151618;
            --gray-tint-10: #2c2d2f;
            --gray-tint-20: #444546;
            --gray-tint-40: #737374;
            --gray-tint-10: #2c2d2f;
            --gray-tint-10: #2c2d2f;

            --accent-base: #2FA2BD;
            --accent-tint-90: #EAF6F8;

            --contextual-success-base: #1FA47C;
        }

        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: var(--gray-tint-10);
            min-height: 90vh;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-label {
            margin-bottom: 10px;
            height: fit-content;
            font-size: large;
            font-weight: 900;
            color: var(--accent-tint-90);
        }

        .form-input {
            width: 300px;
            padding: 10px;
            margin-bottom: 10px;
            height: auto;
            border-radius: 5px;
            border: none;
            box-shadow: 5px 2px 10px #253444;
            font-size: large;
        }

        .form-button {
            padding: 10px 20px;
            background-color: var(--contextual-success-base);
            height: auto;
            color: var(--accent-tint-90);
            border: none;
            font-size: large;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-input:focus-visible {
            outline: var(--contextual-success-base) solid 3px;
        }

        a {
            color: var(--contextual-success-base);
            text-decoration: none;
            transition: color 0.7s ease-in-out;
        }

        /* a:visited {
            color: #ff3c00
        } */
        a:hover {
            color: var(--accent-base);
        }

        .styled-table {
            font-size: 1.2em;
            color: var(--accent-tint-90);
            border-collapse: collapse;
        }

        .styled-table th,
        .styled-table td {
            padding: 10px;
            border: none;
            border-radius: 2px;
            margin: 5px 0px 5px 0px;
        }

        .styled-table thead {
            background-color: var(--accent-base);
            color: #253444;
        }

        .styled-table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
            color: #253444;
        }
    </style>
</head>

<body>
    <!-- <%- include('./partials/header') %> -->
    <div class="container">
        <div style="width: fit-content;">
            <% if (locals.urls) { %>
            <table class="styled-table">
                <thead>
                    <th>S. No</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                    <th>createdBy</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><a href="/url/<%= url.shortId %>"><%= url.shortId %></a></td>
                        <td><a href="<%= url.redirectedUrl %>"><%= url.redirectedUrl %></a></td>
                        <td><%= url.visitHistory.length %></td>
                        <td><%= url.createdBy.username %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
        <form action="http://<%= process.env.HOST %>:<%= process.env.PORT %>/url" method="POST" class="form"></form>
        <form action="http://<%= process.env.HOST %>:<%= process.env.PORT %>/url" method="POST" class="form">
            <label for="urlInput" class="form-label">Enter URL:</label>
            <div class="form-input-container">
                <input type="text" id="urlInput" name="url" placeholder="https://www.example.com" required
                    class="form-input">
                <button type="submit" class="form-button">Generate Crisp Link</button>
            </div>
        </form>
        <% if (locals.shortId) { %>
        <div style="font-size: medium; color: lightblue;">
            <% if (locals.shortId) { %>
            <h2>Here's your crisp Link: <a
                    href="http://<%= process.env.HOST%>:<%= process.env.PORT %>/url/<%= locals.shortId %>"><%= locals.shortId %></a>
            </h2>
            <% } %>

        </div>
        <% } %>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>